# Database
AOI_POSTGRES_USER=aoi
AOI_POSTGRES_PWD=aoi
AOI_POSTGRES_HOST=localhost
AOI_POSTGRES_PORT=5432
AOI_POSTGRES_DATABASE=aoi

# DynamoDB
AOI_DYNAMODB_ENDPOINT_URL=http://127.0.0.1:8080

# CORS
AOI_CORS_ORIGINS='["http://localhost:3000", "http://127.0.0.1:3000"]'

# To make redirects work without a frontend
AOI_FRONTEND_BASE_URL=http://127.0.0.1:8000
