# Database
RINKU_POSTGRES_USER=rinku
RINKU_POSTGRES_PWD=rinku
RINKU_POSTGRES_HOST=localhost
RINKU_POSTGRES_PORT=5432
RINKU_POSTGRES_DATABASE=rinku

# DynamoDB
RINKU_DYNAMODB_ENDPOINT_URL=http://127.0.0.1:8080

# To make redirects work without a frontend
RINKU_FRONTEND_BASE_URL=http://127.0.0.1:8000
